
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Instrument+Sans:ital@1&family=Montserrat:wght@100;400;500;700;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Bacasime Antique', serif;
}
nav{
    background-color: #021a30;
}
footer{
    background-color: #021a30;
}